
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
  display: flex;
}
.text-primary{
    color:#FF900E;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    
} 
/* dark-2 */
.text-gray{
    color:#424242;
}
/* dark-3 */
.text-light-gray{
    color:#727272;
}
.bg-primary{
    background-color:rgba(250, 144, 14, 0.1)
}
.btn-primary{
    background-color:#FF900E;
    color:#FFFFFF;
    border:none;
    padding:20px 25px;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}

/* header styles */

/* navbar related styles */
.brand{
    font-weight: 700;
    font: size 3rem; ;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-right: 30px;
 list-style: none;
}

.nav-links{

    text-decoration: none;
    font-weight: 500;
    
}

   
.nav-links a{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;

}
.banner-content{
    max-width: 860px;
    margin: 0% auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;

}

/* teams and features */
.teams{
    align-items: center;

}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.Features{
    margin-left: 120px;
    max-width: 530px;
}

.quick-list{
    font-weight: 500;
}
/* features */
.features {
    gap: 100px  ;
}
#fe-sec-ti{
    border-left: 5px solid #FF900E;
    padding-left: 21px; 
}
.feature-card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
}

.feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;

}




/* fact section */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

}
.fact-discription{
    margin-bottom: 50px;
    max-width: 540px;
}
.fact-card{
   width: 240px;
    height: 240px; 
    border-radius: 8px;
    border: 1px solid #FF900E;
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
    
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
}





/* sponsor-task */
.sponsor-info{

max-width: 540px;
margin: 0 auto;
text-align: center;

}
.company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.company img{
    filter: grayscale(100%);
}

/* responsive small devices */
@media screen and (max-width: 576px){
    .navbar ,
    .nav-links,
    .teams

    {
        flex-direction: column;
    }
.img-container, .facts-container, .company{
    grid-template-columns:  repeat(1,1fr);
}
    .Features{
    margin-left: 20px; 
}

 .facts-container{
    justify-items: center;
    gap: 20px;

 }
 .company{
    justify-items: center;
    gap: 50px  ;
 }
}

/* responsive medium devices */
@media screen and (min-width: 577px) and (max-width: 992px){
    
    .teams
    {
        flex-direction: column;
    }
    .Features{
    margin-left: 50px auto;

    }
    .company, .facts-container{
    grid-template-columns:  repeat(2,1fr);
    }

}