
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
  display: flex;
}
/* dark-2 */
.text-gray{
    color:#424242;
}
/* dark-3 */
.text-light-gray{
    color:#727272;
}
.bg-primary{
    background-color:rgba(250, 144, 14, 0.1)
}
.btn-primary{
    background-color:#FF900E;
    color:#FFFFFF;
    border:none;
    padding:20px 25px;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
}





/* header styles */

/* navbar related styles */
.brand{
    font-weight: 700;
    font: size 3rem; ;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-right: 30px;
 list-style: none;
}

.nav-links{

    text-decoration: none;
    font-weight: 500;
    
}

   
.nav-links a{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;

}
.banner-content{
    max-width: 860px;
    margin: 0% auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;

}
/* responsive */
@media screen and (max-width: 576px){
    .navbar ,.nav-links{
        flex-direction: column;
    }
    
    
    
}